@font-face {
  font-family: "iconfont"; /* Project id 3259630 */
  src: url('iconfont.woff2?t=1647656069793') format('woff2'),
       url('iconfont.woff?t=1647656069793') format('woff'),
       url('iconfont.ttf?t=1647656069793') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e664";
}

.icon-add-circle:before {
  content: "\e665";
}

.icon-arrow-right-circle:before {
  content: "\e666";
}

.icon-arrow-down:before {
  content: "\e667";
}

.icon-back:before {
  content: "\e668";
}

.icon-bad:before {
  content: "\e669";
}

.icon-arrow-double-left:before {
  content: "\e66a";
}

